
.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
}
.grid-item {
  padding: 1px;
  text-align: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-main {
  align-items: center;
  justify-content: center;
  background-color: rgba(8, 25, 216,0.5);
  min-height: 80vh;
  max-width: 75vw;
  padding: calc(10px + 3vin);
  border: #282c34;
  border-radius: 10px;
}

.App-section{
  padding: 5px;
}

.App-div{
  padding: 5px;
  border: #282c34;
  background-color: dimgray;
  border-width: 2px;
  border-radius: 10px;
}

.Graph {
  border: #282c34;
  border-width: 4px;
}

