
.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
}
.grid-item {
  padding: 1px;
  text-align: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-main {
  align-items: center;
  justify-content: center;
  background-color: rgba(8, 25, 216,0.5);
  min-height: 80vh;
  max-width: 40vw;
  padding: calc(10px + 3vin);
  border: #282c34;
  border-radius: 10px;
  background-image: url("/images/manhattan-night.png");
  margin: 5vw;
}

.App-section{
  padding: 5px;
}

.App-div{
  padding: 5px;
  border: #282c34;
  background-color: dimgray;
  border-width: 2px;
  border-radius: 10px;
}

.Graph {
  border: 1px solid #282c34;
  border-width: 1px;
  background-color: rgba(185, 184, 184, 0.85);
  padding: 10px;
}


.button {
  background-color: rgb(75, 57, 153);
  border: 1px solid rgb(64, 47, 136);
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover{
  background-color: rgb(104, 80, 212);
}

.heading-text{
  color:#FFFFFF;
}